<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Album</title>
</head>
<body>
    <h1>Album a Borrar: </h1>
    <br><br>
    <h2>Seguro que desea eliminar el album?</h2>
    <br><br>
    <form action="/Borrar/{{album1.0}}" method="POST">
        <input type="text" name="txtTitulo" value="{{album1.1}}" readonly>
        <input type="text" name="txtArtista" value="{{album1.2}}" readonly>
        <input type="number" name="txtAño" value="{{album1.3}}" readonly>
        <button type="submit">Borrar</button>
    </form>
    <form action="/">
    <button type="submit">Cancelar</button>
    </form>
</body>
</html>